
  <div class="bg-primary h-screen w-full">
    <nav class="w-full h-[10vh] flex justify-center items-center fixed backdrop-blur-sm bg-primary/60 z-50">
      <ul class="w-full h-full flex justify-between items-center">
        <li class="text-over text-xl w-1/3 h-full flex justify-start items-center">
          <span class="ml-10">M'Dev2Kely</span>
        </li>
        <li class="w-1/2 xl:w-1/3 flex justify-end xl:justify-center items-center h-full relative bg-transparent">
          <svg (click)="this.ToogleMenu()" xmlns="http://www.w3.org/2000/svg" width="36" height="36"  class="bi bi-list-nested fill-over flex xl:hidden mr-10 cursor-pointer" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5"/>
          </svg>
          <div class="trans xl:w-full flex justify-start xl:justify-around items-center flex-col absolute top-0 xl:relative xl:flex-row h-screen w-full xl:h-max bg-black/85 p-4 z-50 backdrop-blur-sm xl:bg-transparent -right-full xl:right-0" [ngClass]="{'!right-0': menuState}">
            <div class="w-full xl:w-1/5 flex justify-center items-center h-1/4 xl:h-max  relative">
              <svg (click)="this.ToogleMenu()" xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-justify-right absolute top-4 right-4 fill-over cursor-pointer flex xl:hidden" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
              </svg>
              <ul class="w-full flex justify-around items-start tracking-[.15rem] xl:items-center flex-col xl:flex-row h-full xl:h-max">
                <li class="w-max xl:w-max flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-github fill-over"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                  </svg>
                  <span class="ml-2 text-over text-lg flex xl:hidden">GiHub</span>
                </li>
                <li class="w-max flex justify-start items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-linkedin fill-over"
                    viewBox="0 0 16 16">
                    <path
                      d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                  </svg>
                  <span class="ml-2 text-over text-lg flex xl:hidden">LinkedIn</span>
                </li>
                <li class="w-max flex justify-start items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-twitter fill-over"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                  </svg>
                  <span class="ml-2 text-over text-lg flex xl:hidden">Twiter</span>
                </li>
              </ul>
            </div>
            <div class="w-full xl:w-1/2  flex justify-center items-start xl:items-center h-1/4 xl:h-max">
              <ul class="w-full h-full flex justify-around items-center flex-col-reverse xl:flex-row">
                <li class="w-full xl:w-1/3 flex justify-start xl:justify-center items-center h-1/3 xl:h-max">
                  <button
                    class="w-2/3 text-primary z-10 relative overflow-hidden bg-over flex justify-center items-cente0">
                    <span class="relative z-10">CONTACT</span>
                  </button>
                </li>
                <li class="w-full xl:w-1/2 flex justify-start xl:justify-center items-center h-1/3 xl:h-max">
                  <button class="border-2 border-over rounded-xl w-2/3 text-over">HAVE A PROJECT</button>
                </li>
                <li class="w-full xl:w-max flex justify-start xl:justify-center items-center h-1/3 xl:h-max">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="bi bi-soundwave fill-over"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5m-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5m12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5" />
                  </svg>
                  <span class="ml-2 flex xl:hidden text-over text-lg">Audio</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <section #wel  class="h-screen w-full bg-primary z-40 flex justify-center items-center flex-col fixed top-0">
      <div #service class="absolute h-[100px] top-[12vh] w-full  z-10">
          <ul class="w-full h-full flex justify-center items-center flex-col text-over/60">
            <li class="text-xl xl:text-3xl underline">I HELP YOU TO CREATE</li>
            <li class="text-sm xl:text-2xl mt-4 ">
              <span class="service opacity-0">WEBSITE</span>
              <span class="service pl-10 pr-10 opacity-0">DESIGN</span>
              <span class="service opacity-0">GRAPHIC</span>
            </li>
          </ul>
      </div>
      <div class="anim t3d h-[200px] w-[300px] xl:h-[400px] xl:w-[600px] bg-over/60 flex justify-center items-center rounded-lg">
          <span class="w-5/6 h-5/6 bg-primary flex justify-center items-center rounded-lg">
            <span class="w-5/6 h-5/6 bg-over/60 flex justify-center items-center rounded-lg">
              <span class="w-5/6 h-5/6 bg-primary flex justify-center items-center rounded-lg">
                <span class="w-2/3 h-2/3 bg-over/60 flex justify-center items-center rounded-lg">
                  <span class="w-[60px] h-[60px] xl:w-[100px]  xl:h-[100px] bg-primary flex justify-center items-center relative rounded-full">
                    <svg #svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" class="bi bi-asterisk fill-over absolute" viewBox="0 0 16 16">
                      <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"/>
                    </svg>
                  </span>
                </span>
              </span>
            </span>
          </span>
      </div>
      <div class="wel1 flex justify-center items-center w-full h-[200px] absolute bottom-0">
        <button class="t3d w-5/6 md:w-1/2 xl:w-1/4 h-[8vh] relative flex justify-center items-center flex-col bg-secondary/60">
          <span class=" text-[2rem] xl:text-[4rem] w-full h-full flex justify-center items-center top-0 left-0">SCROLL!!</span>
        </button>
      </div>
    </section>

    <section class="h-screen w-full fixed bg-primary z-30 flex justify-center items-center p-10">
      <div #hello id="hello" class="text-primary overflow-hidden z-10 text-[4rem] xl:text-[10rem] bg-secondary flex  justify-center items-center w-[200px] h-[200px] xl:h-[400px] xl:w-[400px] rounded-full relative">
          <img ngSrc="assets/image/sun.jpeg" priority fill alt="sun">
          <span>H</span>
          <span>E</span>
          <span>L</span>
          <span>L</span>
          <span>O</span>
          <div class="absolute w-full h-1 bg-primary"></div>
        </div>
    </section>

   <section class="w-full h-max">
    <section class="h-screen w-full z-10 bg-primary"></section>
    <section class="hiddenWell h-[50vh] w-full z-10 bg-primary"></section>
    <section class="hiddenWell1 h-[10vh] w-full z-10 bg-primary"></section>
    <section class="h-screen w-full z-10 bg-primary"></section>
    <section class="anim-hello w-full z-10 bg-primary"></section>
    <section class="h-[20vh]"></section>
   </section>


    <div #ref class="more fixed top-1/3 left-10  h-1/2 w-1/4 rounded-full z-50 opacity-0 scale-0" *ngIf="!this.refState">
      <div class="text flex justify-around items-center flex-col">
        <span class="text-[4rem] xl:text-[6rem]" [style.color]="color" #texte>{{this.nom}}</span>
        <span class="text-[4rem] xl:text-[6rem]">exemple</span>
        <button class="btn w-1/2 bg-yellow-600 h-max text-[2rem] xl:text-[4rem] text-primary">OPPEN</button>
      </div>
    </div>
  
    <section class="img-item w-full h-max bg-primary flex justify-center items-center flex-col z-40 relative overflow-x-hidden">
      @for (item of imageUrl; track $index) {
      <div class="container-elt w-full h-screen relative flex justify-end items-center">
        <div
         #container
          class="image image{{$index}} h-[70%] w-2/3 rounded-sm overflow-hidden shadow-sm shadow-over flex justify-start items-start relative">
          <img ngSrc="assets/image/{{item.nom}}.jpeg" loading="lazy" alt="{{item.nom}}" fill />
          <button class="btn-more w-[150px] h-10">
            <span class="txt w-full h-full flex justify-center items-center top-0 left-0">MORE</span>
            <span class="abs"></span>
          </button>
        </div>
      </div>
      }
    </section>
    
    <section class="hiddenRef1 h-screen w-full bg-primary z-50 relative flex justify-between items-center flex-col overflow-hidden">
      <div class="w-5/6 flex justify-start items-center flex-col h-max p-4">
         <ul class="w-full flex justify-between items-center pt-8">
          <li class="w-1/4 flex justify-start items-center text-over/85 underline">
              <a href="#">Instagram/</a>
              <a href="#" class="ml-2">LinkedIn</a>
              <a href="#" class="ml-2">/Pinterest</a>
          </li>
          <li class="w-1/4 flex justify-end items-center text-over/85">
             <a href="#" class="underline">Ressource Brand</a>
          </li>
         </ul>
         <div class="w-full flex justify-start items-center flex-col">
          <h2 #theo class="line text-[10rem] xl:text-[14rem] relative flex justify-start items-center w-full text-secondary/60">
              <span class="hidden xl:flex">N</span>
              <span class="hidden xl:flex">A</span>
              <span class="hidden xl:flex">N</span>
              <span class="hidden xl:flex">D</span>
              <span class="hidden xl:flex">R</span>
              <span class="hidden xl:flex">A</span>
              <span class="hidden xl:flex">I</span>
              <span class="hidden xl:flex">N</span>
              <span class="hidden xl:flex">A</span>
              <span class="ml-4">T</span>
              <span>H</span>
              <span>E</span>
              <span class="ml-4">A</span>
              <span>U</span>
              <span>D</span>
              <span>I</span>
              <span>O</span>
              
          </h2>
        </div>
      </div>
     
      <div class="h-2/3 flex justify-around items-center flex-col w-5/6 p-4">
        <div class="w-full h-max flex justify-between items-start underline text-over/85">
          <p>Lorem ipsum dolor sit amet.</p>
          <p>©the audio nandraina all right reserved</p>
        </div>
        <div #lineC class="w-full h-5/6 flex justify-around items-center flex-col">
          @for (item of line; track $index) {
            <span class="w-full h-[.5px] bg-secondary/60"></span>
          }
        </div>
      
      </div>
    </section>
  </div>
