nav{
    box-shadow: 0 0 .05rem white;
}
.line{
    line-height: normal;
}


.btn{
    border-radius: 1rem 50% 1rem 50%;
}
.image{
    border-radius: 1rem;
    transform: perspective(1000px) rotateY(10deg) rotateX(0deg);

}
.trans{
    transition: 500ms ease-in-out;
}

.t3d{
    transform: perspective(1000px) rotateY(10deg) rotateX(0deg);
}
.anim{
    animation: t3d 2s infinite ease-in-out alternate;
    @keyframes t3d {
        0%{
            transform: perspective(1000px) rotateY(20deg) rotateX(0deg);
        }
        100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(0);
        }
    }
}
.btn-more{
    position: relative !important;
    z-index: 10 !important;
    cursor: pointer;
    transition: 250ms ease-in-out;
    &:active{
        .txt{
         top: 5px;
         left: 5px;
        }
     }
    .txt{
        position: absolute;
        width: 100%;
        z-index: 1 !important;
        color: black;
        background-color: white;
        cursor: pointer;
        transition: 250ms ease-in-out;

    }
   .abs{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        color: black;
        background-color: red;
        top: 5px;
        left: 5px;
        transition: 250ms ease-in-out;
       
    }
}
#hello span{
    text-shadow: 4px 4px 0px #000000
}
